#wrapper {
    display: flex;
  }
  
.halfScreen {
    width: 50%;
}
.char-button{
    margin: 40px 40px 40px 40px;
}
.btn-group-toggle {
    display: block !important;
}
.char-group {
    width: 80%;
}